<!-- START: Add Contact Button -->
<div class="list-header">
  <div></div>
  <button class="button add-contact c-pointer" (click)="navigate('add')"><a><i class="fas fa-plus"></i> Add
      Contact</a></button>
</div>
<!-- END: Add Contact Button -->

<!-- START: Contact List Table  -->
<div class="table-responsive cursor">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.no</th>
        <th (click)="sortBy('firstName')" scope="col">
          <span class="p-10">Name</span>
          <i *ngIf="asc && prevSortedBy == 'firstName'" class="fas fa-sort-amount-up"></i>
          <i *ngIf="!asc && prevSortedBy == 'firstName'" class="fas fa-sort-amount-down"></i>
        </th>
        <th scope="col">Phoneno.</th>
        <th (click)="sortBy('email')" scope="col">
          <span class="p-10">Email</span>
          <i *ngIf="asc && prevSortedBy == 'email'" class="fas fa-sort-amount-up"></i>
          <i *ngIf="!asc && prevSortedBy == 'email'" class="fas fa-sort-amount-down"></i>
        </th>
        <th (click)="sortBy('country')" scope="col">
          <span class="p-10">Country</span>
          <i *ngIf="asc && prevSortedBy == 'country'" class="fas fa-sort-amount-up"></i>
          <i *ngIf="!asc && prevSortedBy == 'country'" class="fas fa-sort-amount-down"></i>
        </th>
        <th (click)="sortBy('state')" scope="col">
          <span class="p-10">State</span>
          <i *ngIf="asc && prevSortedBy == 'state'" class="fas fa-sort-amount-up"></i>
          <i *ngIf="!asc && prevSortedBy == 'state'" class="fas fa-sort-amount-down"></i>
        </th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody *ngIf="contacts.length !==0">
      <tr *ngFor="let contact of contacts;let i=index">
        <th scope="row">{{i+1}}</th>
        <td >{{contact.firstName}} {{contact.lastName}}</td>
        <td>{{contact.phoneno}}</td>
        <td >{{contact.email}}</td>
        <td >{{contact.country}}</td>
        <td >{{contact.state}}</td>
        <td (click)="navigate('edit',contact.id)"><i class='fas fa-pen c-pointer'></i></td>
        <td (click)="deleteModal(contact,template)"><i class="fas fa-trash-alt c-pointer"></i></td>
      </tr>
    </tbody>

    <tbody *ngIf="contacts.length==0">
      <tr>
        <td colspan="7">
          <p class="message">No matching result found. Please modify search criteria or add a new contact.</p>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<!-- END: Contact List Table -->

<!-- START: Modal for deletion popup -->
<ng-template #template>
  <div class="modal-body">
    <p>Are you sure you want to delete contact of {{contacttoDelete.firstName}} {{contacttoDelete.lastName}}
      and all its details.
    </p>
    <div class="modal-buttons">
      <button class="modal-btn" (click)="modalRef.hide()"> Cancel </button>
      <button class="modal-btn" (click)="delete()"> Ok </button>
    </div>
  </div>
</ng-template>
<!-- END: Modal for deletion popup -->
